// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100% !important;
    background-color: #ffffff!important;
}

main > .container {
    padding: 60px 15px 0;
}

.bg-custom {
    background-color: #21618C;
}

.bg-custom-light {
    background-color: #85C1E9;
}

.footer {
    background-color: #d5d5d5;
}

h1 {
    font-size: 3rem;
}

.btn-save {
    padding: 0;
    float: right;
    margin-top: -8px;
    font-size: 1.2rem;
}

.cursor-pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

.card {
    border-radius: 0!important;
}

.breadcrumbs {
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.breadcrumbs a {
    color: #85C1E9;
}
