// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100% !important;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #d5d5d5;
}

h1 {
    font-size: 3rem;
}

.btn-save {
    padding: 0;
    float: right;
    font-size: 1.2rem;
    margin-top: -.5rem;
}
